.about {
    padding-top: 150px;

    &__row {
        display: flex;
        gap: 40px;
    }

    &__content {
        display: flex;

    }


    &__text {
        color: #E2E2E2;
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.01em;
        display: flex;
        justify-content: center;
    }

    &__title {
        margin-top: 20px;
        color: #E2E2E2;
        font-family: 'Nunito', sans-serif;
        font-size: 55px;
        font-weight: 700;
        line-height: 75.02px;
        letter-spacing: 0.003em;
        display: flex;
        justify-content: center;
    }

    &__img {
        margin-top: 38px;
        width: 100%;
    }

    &__one {
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #E2E2E2;
        margin-top: 63px 0;
    }

    &__two {
        margin: 24px 0;
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #E2E2E2;
    }

    &__button {
        display: flex;
        gap: 25px;
    }

    &__circle {
        display: flex;
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .about {
        padding-top: 100px;
        &__row {
            flex-wrap: wrap-reverse;
        }

        &__text {
            font-family: 'Quicksand', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 17.5px;
            letter-spacing: 0.01em;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
            letter-spacing: 0.003em;
        }

        &__one {
            margin-top: 35px;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.01em;
        }

        &__two {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.01em;
            margin-top: 20px 0;
        }

        .primary {
            padding: 10px 35px;
        }

        .outline {
            padding: 10px 35px;
            
        } 


    }
}