.photo {
    padding-top: 130px;

    &__row {
        display: flex;
        justify-content: center;
    }

    &__subtitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #e2e2e2;
        display: flex;
        justify-content: center;
    }

    &__title {
        font-family: 'Nunito', sans-serif;
        font-size: 55px;
        font-weight: 700;
        line-height: 75.02px;
        letter-spacing: 0.003em;
        color: #e2e2e2;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    &__description {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #e2e2e2;
        margin: 32px 0;
    }

    &__collag {
        position: relative;
        display: flex;
        gap: 70px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 25px;
    }

    &__column {
        width: 100%;

        img {
            width: 100%;
        }

        h4 {
            position: absolute;
            bottom: 10%;
            margin-left: 20px;
            font-family: 'Quicksand', sans-serif;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.003em;
            color: #e2e2e2;
        }
    }

    &__click {
        margin: 0 500px;
    }
    .button {
        margin-top: 35px;
    }


}

@media (max-width: 768px) {
    .photo {
        text-align: center;

        &__collag {
            flex-wrap: wrap;
        }

        &__subtitle {
            font-size: 14px;
            font-weight: 600;
            line-height: 17.5px;
            letter-spacing: 0.01em;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
            letter-spacing: 0.003em;
        }

        &__description {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.01em;
        }

        &__column {
            h4 {
                bottom: auto;
                margin-left: auto;
                position: static;
                margin: -50px 0 0 0;
            }
        }

        .button {
            margin: 50px 0;
        }

    }
}